html {
    color: #222;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

.clearfix::before,.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

article,aside,details,figcaption,figure,footer,header,main,nav,section,summary {
    display: block;
}

a {
    background: 0 0;
}

a:active,a:hover {
    outline: 0;
}

b,strong {
    font-weight: 700;
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,kbd,pre,samp {
    font-family: monospace,monospace;
    font-size: 1em;
}

button,input,optgroup,select,textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,select {
    text-transform: none;
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,th {
    padding: 0;
}

blockquote {
    margin: 0;
}

*,::before,::after {
    box-sizing: border-box;
}

html,body,button {
    -moz-osx-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
    font-size: 14px;
    line-height: 1.625em;
    color: #404040;
}

pre {
    background: #f0f0f0;
    padding: 13px;
}

.main-container {
    box-sizing: content-box;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width:620px) {
    .main-container {
        padding-left: 4.8%;
        padding-right: 4.8%;
        max-width: 688px;
    }
}

@media only screen and (min-width:800px) {
    .main-container {
        padding-left: 4.4%;
        padding-right: 4.4%;
        max-width: 864px;
    }
}

@media only screen and (min-width:800px) {
    .content {
        margin-right: 25.9%;
    }

    .content pre {
        margin-right: -25.9%;
    }
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: "RobotoDraft",Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 24px;
    background-color: #fff;
    box-sizing: border-box;
    min-height: 100%;
}

.app-bar {
    overflow: hidden;
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #4285f4;
    z-index: 1;
}

.app-bar-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 60px;
    position: relative;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0 auto;
}

.app-bar.open,.app-bar.open~main {
    -webkit-transform: translate(250px,0);
    transform: translate(250px,0);
}

.app-bar .logo {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 2em;
    line-height: 60px;
    margin: 0 16px;
    padding: 0;
    color: #fefefe;
    float: none;
    max-width: none;
    font-weight: 300;
    display: initial;
}

.app-bar .logo a {
    text-decoration: none;
    color: inherit;
    font-weight: 400;
}

.app-bar-actions {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    z-index: 2;
}

.app-bar button {
    width: 60px;
    height: 60px;
    background-image: none;
    background-color: transparent;
    border: none;
    padding: 0;
    display: inline-block;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    -webkit-tap-highlight-color: transparent;
}

.app-bar button img {
    height: 24px;
    width: 24px;
}

.app-bar button:hover {
    background-color: rgba(255,255,255,.1);
}

.app-bar button:focus {
    background-color: rgba(255,255,255,.2);
    outline: 0;
}

.app-bar button:active {
    background-color: rgba(255,255,255,.4);
}

main {
    margin: 0 auto;
    padding: 60px 16px 16px;
    min-height: 100%;
}

@media all and (min-width:990px) {
    .app-bar {
        position: relative;
    }

    .app-bar.open,.app-bar.open~main {
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }

    .app-bar-container {
        display: block;
        height: 130px;
        max-width: 864px;
        padding: 0 16px;
        box-sizing: border-box;
        background-color: #4285f4;
    }

    .app-bar .logo {
        float: left;
        margin: 0;
        padding: 0;
        line-height: 130px;
        font-size: 46px;
    }

    .app-bar::after {
        content: ' ';
        display: block;
        height: 0;
        overflow: hidden;
        clear: both;
    }

    main {
        max-width: 864px;
        padding-top: 0;
        min-height: initial;
    }

    body {
        overflow-y: scroll;
    }
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td {
    border-top: 0;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    text-align: left;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #f9f9f9;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.title {
    white-space: nowrap;
}
